appdirs==1.4.3
atomicwrites==1.2.1
attrs==18.2.0
beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.8.24
chardet==3.0.4
colorama==0.3.9
cssselect==1.0.3
fake-useragent==0.1.10
idna==2.7
lxml==4.2.5
more-itertools==4.3.0
parse==1.8.4
pluggy==0.7.1
py==1.6.0
pyee==5.0.0
pyhdb==0.3.4
pyppeteer==0.0.24
pyquery==1.4.0
pytest==3.8.0
pywin32==301
requests==2.19.1
requests-html==0.9.0
selenium==3.14.0
six==1.11.0
tqdm==4.26.0
urllib3==1.23
w3lib==1.19.0
websockets==6.0
